{% include 'header.html' %}
{% include 'style.html' %}
</head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      {% include 'sidebar.html' %}

      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'topbar.html' %}


          <!-- Begin Page Content -->
         
            <div class="d-flex justify-content-center">
              <div class="container-fluid">
                <div class="container-fluid bg-light mb-3">

                  <div class="container justify-content-center">
                    <div class="row">

                      <div class="col-lg-12">
                        <div class="d-flex justify-content-center">
                          
                           <!-- Section: Design Block 
                          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
                          -->
                         
                          <div class="card m-1 mt-5 shadow-lg p-3 bg-white mb-5" style="border-radius: 20px;">
                            <div class="row g-0">
                                <div class="col-lg-4 col-12 img-container">
                                    <img src="{{url_for('static', filename='css/cabinet.png')}}" alt="Italian Trulli" class="img-fluid">
                                </div>
                                <div class="col-lg-8 col-12">
                                    <div class="card-body py-3 px-md-3">
                                        <h1 style="color: #663399">Nama Produk</h1>
                                        <p class="product-description">
                                            123Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                                            quibusdam tempora at cupiditate quis eum maiores libero
                                            veritatis? Dicta facilis sint aliquid ipsum atque?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            </section>
                            <!-- Section: Design Block -->

                        </div>
                      </div>
                     
                    </div>
                  </div>



                  <div class="container justify-content-center">
                    <div class="row">
                      <div class="col-lg-12 mb-5 mt-6">
                        <div class="d-flex justify-content-center">

                          <div style="text-align: center;">
                            <a href="{{ url_for('index') }}" class="btn btn-sq-lg mr-4">
                              <i class="fa fa-folder-open fa-5x"></i>
                              <h4 style="margin-top: 0.25em;">Cabinet</h4>
                            </a>
                          </div>
               

                          
                          <div style="text-align: center;" class"mr-4">
                            <a href="{{ url_for('display') }}" class="btn btn-sq-lg mr-4">
                              <i class="fa fa-user fa-5x"></i>
                              <h4 style="margin-top: 0.25em; ">Account</h4>
                            </a>
                          </div>
                         

                        </div>
                       
                      </div>

                    </div>
                  </div>



                </div>
              </div>
                <!-- Page Heading -->
          </div>        

        


              

            

        </div>
      </div>
    </div>
      
      {% include 'footer.html' %}

      {% include 'script.html' %}


  </body>
</html>

<style>
  .img-container {
      overflow: hidden;
      position: relative;
  }

  .img-container img {
      transition: transform 0.3s ease-in-out;
      width: 100%;
      height: auto;
  }

  .img-container:hover img {
      transform: scale(1.2);
  }

  .btn-sq-lg {
    background-color: #007BFF; /* Default button color */
    color: #fff; /* Default text color */
    transition: background-color 0.3s ease;
  }

  .btn-sq-lg:hover {
    background-color: #0056b3; /* Change button color on hover */
  }
</style>