{% include 'header.html' %}
{% include 'style.html' %}
</head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
    

      <!-- include sidebar-->
      {% include 'sidebar.html' %}


      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'topbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-flex justify-content-center">
          </div>        

           <!-- Begin Page Content -->
           <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"> History Take Data</h1>
            <p class="mb-4">- <a target="_blank"
                    href="#">--</a>.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">History Take Data</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                      <!-- 
                        <<table id='empTable' class='display dataTable' width='100%'>
                        End of Content Wrapper 
                      
                      -->
                      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                          
                            <thead>
                              <tr>
                                <th>No</th>
                                <th>Date & time</th>
                                <th>User</th>
                                <th>Document</th>
                              </tr>
                            </thead>
                            
                           
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->


        </div>
      </div > 
   
      {% include 'footer.html' %}

      {% include 'script.html' %}
      <script>
        $(document).ready(function() {
         
          
            var empDataTable = $('#dataTable').DataTable({
                        'processing': true,
                        'serverSide': true,
                        'serverMethod': 'post',
                        'ajax': {
                            'url':'/ajaxfile'
                        },
                        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        searching: true,
                        sort: false,
                        "serverSide": true,
                        'columns': [
                            { data: 'id_transaksi' },
                            { data: 'waktu_trans' },
                            { data: 'id_user' },
                            { data: 'id_dokumen' }
                        ]
                    });
         
        });
         
        </script>

</body>
</html>



