<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link href="{{url_for('static', filename='login_style/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
<!--===============================================================================================-->
    <link href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" />
<!--===============================================================================================-->
    <link href="{{url_for('static', filename='login_style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" rel="stylesheet" />
<!--===============================================================================================-->
    <link href="{{url_for('static', filename='login_style/css/util.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='login_style/css/main.css')}}" rel="stylesheet" />

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-30 p-b-50">

				<div class="container justify-content-center">
                    <div class="row">
                      <div class="col-lg-12 m-3">
                        <div class="d-flex justify-content-center">
							<img src="{{url_for('static', filename='images/cabinet.png')}}" alt="Italian Trulli" width="250" height="250">
                        </div>
                      </div>
                    </div>
                  </div>

				<span class="login100-form-title p-b-41">
					Login Pengguna
				</span>
				<div class="text-center">
					{% if _login == 1: %}
					<div class="alert alert-danger ">
						<a class="close font-weight-light" data-dismiss="alert" href="#">×</a>{{msg}}
					</div>
					{% endif %}
				</div>
              
				<form class="login100-form validate-form p-b-33 p-t-5" action="{{ url_for('login')}}" method="post">

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" id="username" placeholder="Nama Pengguna/Username" require>
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" id="password" placeholder="Kata Sandi/Password" require>
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>


					<div class="container-login100-form-btn m-t-32">
                       
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
    <script src="{{url_for('static', filename='login_style/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
    <script src="{{url_for('static', filename='login_style/js/main.js')}}"></script>

</body>
</html>