<!-- Bootstrap core JavaScript
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.4.0/js/dataTables.rowGroup.min.js"></script>
-->



<script src={{url_for('static', filename='vendor/datatables/jQuery-3.7.0/jquery-3.7.0.js')}}></script>
<script src={{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}></script>
<script src={{url_for('static', filename='vendor/datatables/Responsive-2-5-0/js/dataTables.responsive.min.js')}}></script>
