<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages
<script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

-->
<script src="{{url_for('static', filename='js/sb-admin-2.js')}}"></script>

<!-- Page level plugins -->

<!-- Page level custom scripts -->

<!-- 
   <script src={{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}></script>
    <script src={{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}></script>
    <script src={{url_for('static', filename='js/demo/datatables-demo.js')}}></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/rowgroup/1.4.0/js/dataTables.rowGroup.min.js"></script>
     <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
           <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
     -->
     <script src={{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}></script>
     <script src={{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}></script>
     <script src={{url_for('static', filename='js/demo/datatables-demo.js')}}></script>
     <script src={{url_for('static', filename='vendor/datatables/Responsive-2-5-0/js/dataTables.responsive.min.js')}}></script>

    
     
<script>
     var button = document.getElementById("btn");
     button.addEventListener("click",onClick);
     function onClick() {
          button.removeEventListener("click",onClick);
     }
 // function hanyaAngka(event) {
 //   var angka = event.which ? event.which : event.keyCode;
 //   if (angka != 46 && angka > 31 && (angka < 48 || angka > 57)) return false;
 //   return true;
 // }
</script>

<script>
  // Ambil elemen input PIN
 // var pinInput = document.getElementById('pin');

  // Tambahkan event listener untuk mengabaikan karakter selain angka
 // pinInput.addEventListener('input', function() {
 //     this.value = this.value.replace(/[^0-9]/g, '');
 // });
</script>


