{% include 'header.html' %}
{% include 'style.html' %}
</head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
    

      <!-- include sidebar-->
      {% include 'sidebar.html' %}


      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'topbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-flex justify-content-center">
          </div>        

           <!-- Begin Page Content -->
           <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Document History</h1>
           
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Document History</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                  
                      <table class="table table-bordered table-hover" id="dataTable_searchHistory" width="100%" cellspacing="0">
                          
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Date & time</th>
                                    <th>ID User</th>
                                    <th>Document Search</th>
                                    <th>Information</th>
                                </tr>
                            </thead>
                            
                           
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->


        </div>
      </div > 
   
      {% include 'footer.html' %}

      {% include 'script.html' %}
      <script>
        $(document).ready(function() {
         
          
            var varDataTable = $('#dataTable_searchHistory').DataTable({
                        'processing': true,
                        'serverSide': true,
                        'serverMethod': 'post',
                        'responsive': true,
                        'ajax': {
                            'url':'/ajaxfile_searchHistory'
                        },
                        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        searching: true,
                        sort: false,
                        "serverSide": true,
                        'columns': [
                        
                            { data: 'DT_RowId' },
                            { data: 'search_time' },
                            { data: 'username' },
                            { data: 'search_keyword' },
                            { data: 'information' }
                        ]
                    });
         
        });
         
        </script>

</body>
</html>



