{% include 'header.html' %}
{% include 'style.html' %}
</head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
    

      <!-- include sidebar-->
      {% include 'sidebar.html' %}


      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'topbar.html' %}

          <!-- Begin Page Content -->

          <div class="text-center">
            {% if msg_search|length != 0: %}
                  {% if msg_type == 0: %}
                  
                  <div class="alert alert-danger ">
                      <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>{{msg_search}}
                  </div>
                  {% else %}
                  <div class="alert alert-success ">
                    <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>{{msg_search}}
                </div>
                  {% endif %}
               
            {% endif %}
          </div>



        <div class="d-flex justify-content-center bg-light"></br>
          <div class="container">
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                  <div class="col-sm-12">
                    <div class="card custom-card mb-5 mt-5 shadow-lg p-3 mb-5 bg-white rounded">
                      <div class="card-body">
                        
                        <span class="login100-form-title">
                          Selamat Datang, Anda Bisa mencari dokumen disini!
                        </span>
                      <!-- FORM-->
                            <form class="login100-search-form validate-form" action="{{ url_for('search')}}" method="post" autocomplete="off">
                              
                              <div class="wrap-input100 validate-input">
                                <input type="text" name="nama_dokumen" id="nama_dokumen" class="input100 custom-input" 
                                placeholder="Nama Dokumen" required >
                                <span class="focus-input100"></span>
                          <span class="symbol-input100">
                            <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                          </span>
                              </div>
                              <div class="container-login100-form-btn custom-button">
                                <button class="login100-form-btn" type="submit">
                                  Cari
                                </button>
                              </div>  
                            </form>
                      <!--END FORM-->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->


      
        {% include 'footer.html' %}

        {% include 'script.html' %}


</body>
</html>


<style>
  @media screen and (max-width: 400px) {
      .custom-input {
          width: 100%;
      }

      .custom-button {
          width: 100%;
      }

      .container {
          padding: 15px;
      }

      .card {
          margin: 15px;
      }

      .login100-form-title {
          font-size: 13px;
      }
  }
</style>